<div class="header-account">
    <div class="inner">
        <a class="header-logo" href="{{ path('app_homepage') }}">
            <img width="180"
                 height="75"
                 data-category="Meniu"
                 src="{{ asset('assets/frontend/images/common/logo.svg') }}"
                 alt="{{ app_name }}">
        </a>
    </div>
</div>