{% macro render_submenu(submenu, parent) %}
    <li class="dropdown">
        <a href="#" class="top-item">
            {{ parent }}
        </a>
        <ul class="dropdown-menu" role="menu">
            {% for child in submenu %}
                {% if child['children'] is not empty %}
                    {{ _self.render_submenu(child['children'], child['linkText']) }}
                {% else %}
                    <li>
                        <a href="{{ child['link'] }}" class="shelter-link">
                            {{ child['linkText'] }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endmacro %}