<div class="inner">
    <div class="privacy-policy">
        {% if translation.description %}
            {{ translation.description|sanitize_html('app.editor') }}
        {% endif %}
    </div>
</div>