<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Dashboard | {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body {% block body_attributes %}{% endblock %}>
        {% block body %}
        {% endblock %}
        {% block modals %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
        {% block page_javascripts %}
        {% endblock %}
    </body>
</html>
