{% set returnUrl = app.request.get('returnUrl') %}
{% set registerPath = returnUrl is not empty ? translation.link ~ '?returnUrl=' ~ returnUrl : translation.link %}
<div class="account-card">
    <div class="account-inner">
        {% if widget.fileName %}
            <div class="image" data-image="{{ asset(app_page_widget_path ~ widget.fileName, 'cloudflare') }}"></div>
        {% endif %}
        {% if translation.description %}
            {{ translation.description|sanitize_html('app.editor') }}
        {% endif %}
        {% if translation.linkText %}
            <a href="{{ registerPath }}">
                {{ translation.linkText }}
            </a>
        {% endif %}
    </div>
</div>