<div class="benefits">
    <div class="inner">
        <div class="content">
            <div class="cards-button">
                <!-- Start: Page widget  -->
                {% for widget in section.pageWidgets %}
                    {% set translation = widget.translation(locale) %}
                    {% include 'frontend/pages/partials/benefit-packages/widgets/' ~ widget.template ignore missing %}
                {% endfor %}
                <!-- End: Page widget  -->
            </div>
            <div class="cta-resources">
                <a href="#">{{ 'common.benefit_promoted_link_title'|trans }}</a>
            </div>
        </div>
    </div>
</div>