{% extends 'layout_dashboard.html.twig' %}

{% block title %}Refunds {{ parent() }} {% endblock %}

{% block content %}
    <!--begin::Card-->
    <div class="card card-flush">
        <!--begin::Card header-->
        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Search-->
                <div class="d-flex gap-4 align-items-center position-relative my-1 ml-2">
                    <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <input type="text" data-kt-table-filter="search"
                           class="form-control form-control-solid w-250px ps-12" placeholder="Search refunds..."/>
                </div>
                <!--end::Search-->
            </div>
            <!--end::Card title-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pt-0">
            <!--begin::Datatable-->
            <table id="kt_datatable_refunds" class="table align-middle table-row-dashed fs-6 gy-5">
                <thead>
                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                    <th class="min-w-50px">#ID</th>
                    <th class="min-w-100px">First name</th>
                    <th class="min-w-100px">Last name</th>
                    <th class="min-w-100px">Invoice number</th>
                    <th class="min-w-100px">Invoice date</th>
                    <th class="min-w-100px">Amount</th>
                    <th class="min-w-100px">Status</th>
                    <th class="text-end min-w-100px">Actions</th>
                </tr>
                </thead>
                <tbody class="text-gray-600 fw-semibold"></tbody>
            </table>
            <!--end::Datatable-->
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->
{% endblock %}

{% block page_javascripts %}
    <script src="{{ asset('assets/dashboard/js/datatables/refund.js') }}"></script>
    <script>
        KTUtil.onDOMContentLoaded(function () {
            KTDatatableRefunds.init();
        });
    </script>
{% endblock %}