<tr>
    <td align="center" style="padding: 21px 20px 12px 20px; font-family: 'Helvetica Neue LT Pro', sans-serif; font-size: 12pt; letter-spacing: 0.4px; font-weight: 400; background-color: #01b3a7; color: #fff;">
        {{ 'mails.follow_us'|trans }}
    </td>
</tr>
<tr>
    <td style="font-family: 'Helvetica Neue LT Pro', sans-serif; padding: 0px 250px 20px 250px; background-color: #01b3a7;">
        <table role="presentation" align="center" border="0" border-collapse="collapse" cellpadding="0" cellspacing="0" padding="0" width="100%" style="width: 100%; border-collapse: collapse;">
            <tr>
                <td align="right" style="font-family: 'Helvetica Neue LT Pro', sans-serif; padding: 0px;">
                    <a target="_blank" href="#">
                        <img src="{{ absolute_url(asset('assets/frontend/images/logo-linkedin.png')) }}" alt="" border="0" style="display: block;  border: none; border-width: 0; max-width: 21px; height: auto;" />
                    </a>
                </td>
                <td align="center" style="font-family: 'Helvetica Neue LT Pro', sans-serif; padding: 0 7px 0 6px;">
                    <a target="_blank" href="#">
                        <img src="{{ absolute_url(asset('assets/frontend/images/logo-facebook.png')) }}" alt="" border="0" style="display: block; border: none; border-width: 0; max-width: 21px; height: auto;" />
                    </a>
                </td>
                <td align="left" style="font-family: 'Helvetica Neue LT Pro', sans-serif; padding: 0px;">
                    <a target="_blank" href="#">
                        <img src="{{ absolute_url(asset('assets/frontend/images/logo-instagram.png')) }}" alt="" border="0" style="display: block; border: none; border-width: 0; max-width: 21px; height: auto;" />
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>