<div class="card mb-5 mb-xl-10">
    <div class="card-header p-9">
        <h2 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
            Hierarchy of links
        </h2>
    </div>
    <div class="card-body menu-items-hierarchy">
        <div class="menu-item-tree"></div>
    </div>
</div>