<div class="inner">
    {% if translation.description %}
        {{ translation.description|sanitize_html('app.editor') }}
    {% endif %}
    {% if widget.fileName %}
        <div class="first-image">
            <img src="{{ asset(app_page_widget_path ~ widget.fileName, 'cloudflare') }}" width="730" height="430" alt="intro_home">
        </div>
    {% endif %}
    {% if widget.fileNameMob %}
        <div class="second-image hidden">
            <img src="{{ asset(app_page_widget_path ~ widget.fileNameMob, 'cloudflare') }}" width="730" height="430" alt="intro_home">
        </div>
    {% endif %}
</div>
