<div class="card">
    <div class="card-inner">
        <div class="card-info">
            {{ translation.description|sanitize_html('app.editor') }}
            <div class="avatar">
                {% if widget.fileName %}
                    <div class="image" data-image="{{ asset(app_page_widget_path ~ widget.fileName, 'cloudflare') }}"></div>
                {% endif %}
                <p>"{{ translation.title }}"</p>
            </div>
        </div>
    </div>
</div>