<div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2" style="background-color: #04a69c">
    <!--begin::Content-->
    <div class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100">
        <!--begin::Logo-->
        <a href="{{ path('dashboard_index') }}" class="mb-0 mb-lg-12">
            <img alt="Logo" src="{{ asset('assets/dashboard/media/logos/logo-menu.svg', 'cloudflare') }}" class="h-60px h-lg-75px" />
        </a>
        <!--end::Logo-->
        <!--begin::Image-->
{#        <img class="d-none d-lg-block mx-auto w-275px w-md-50 w-xl-500px mb-10 mb-lg-20" src="{{ asset('assets/dashboard/assets/media/misc/auth-screens.png', 'cloudflare') }}" alt="" />#}
        <!--end::Image-->
        <!--begin::Title-->
{#        <h1 class="d-none d-lg-block text-white fs-2qx fw-bolder text-center mb-7">Dashboard</h1>#}
        <!--end::Title-->
    </div>
    <!--end::Content-->
</div>