<div class="jobs-list">
    <div class="inner">
        <h2>{{ 'jobs.recommended_section_title'|trans }}</h2>
        <div class="list">
            <!-- Data inserted dynamic -->
        </div>
        <div class="button-wrapper">
            <a href="#">{{ 'jobs.recommended_section_load_more'|trans }}</a>
        </div>
    </div>
</div>