<tr>
    <td style="padding: 0;">
        <table style="width: 100%; border-collapse: collapse; background-color: #E0F7FF">
            <tr>
                <td style="padding: 22px 0 14px 0; width: 100%; margin: auto; text-align: center;">
                    <a href="{{ absolute_url(path('app_homepage')) }}" style="display: block; max-width: 130px;" target="_blank">
                        <img width="130" height="60" src="{{ absolute_url(asset('assets/frontend/images/common/logo.png')) }}"
                             alt="logo"
                             style="max-width: 130px; height: auto; display: block;"
                        />
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>

