<div class="common-intro" data-image="{{ asset('assets/files/page/pagewidget/' ~ widget.fileName, 'cloudflare') }}">
    <div class="inner">
        <h1>{{ translation.title }}</h1>
    </div>
</div>
