<a href="#">
    <div class="item">
        <div>
            <img src="{{ asset('assets/files/page/pagewidget/' ~ widget.fileName, 'cloudflare') }}" alt="icon" />
            <h4>{{ translation.title }}</h4>
        </div>
        {{ translation.description|raw }}
    </div>
</a>