{% if widget.fileName %}
    <div class="info-card" data-image="{{ asset(app_page_widget_path ~ widget.fileName, 'cloudflare') }}">
        <div class="info-card-inner">
            {% if translation.description %}
                {{ translation.description|sanitize_html('app.editor') }}
            {% endif %}
        </div>
    </div>
{% endif %}