<div class="intro-home">
    {% for widget in section.pageWidgets %}
        {% set translation = widget.translation(locale) %}
        {% include 'frontend/pages/partials/homepage/widgets/' ~ widget.template ignore missing %}
    {% endfor %}
</div>
