<div class="search">
    {% for widget in section.pageWidgets %}
        {% set translation = widget.translation(locale) %}
        {% include 'frontend/pages/partials/companies/widgets/' ~ widget.template ignore missing %}
    {% endfor %}
</div>

<!-- Start: Custom templates  -->
{% include 'frontend/pages/common/recommended-company-swiper.html.twig' with {'sectionTitle': 'homepage.recommended_care'|trans, 'url': path('app_company_single')} %}
{% include 'frontend/pages/partials/companies/custom/items.html.twig' %}
{% include "frontend/pages/common/pagination.html.twig" %}
<!-- End: Custom templates  -->