<div class="why-choose-courses">
    <div class="inner">
        <div class="image"
             data-image="{{ asset('assets/files/page/pagesection/' ~ section.fileName, 'cloudflare') }}"></div>
        <div class="image"
             data-image="{{ asset('assets/files/page/pagesection/' ~ section.fileNameMob, 'cloudflare') }}"></div>
    </div>

    {% for widget in section.pageWidgets %}
        {% set translation = widget.translation(locale) %}

        {% include 'frontend/default/partials/widgets/homepage/' ~ widget.template ignore missing %}
    {% endfor %}
</div>
