<div class="article-card">
    <div class="card-inner">
        <div class="image" data-image="{{ asset('assets/files/page/pagewidget/' ~ widget.fileName) }}"></div>
        <div class="card-content">
            {% if translation.description %}
                {{ translation.description|sanitize_html('app.editor') }}
            {% endif %}
        </div>
    </div>
</div>