<div class="common-intro" data-image="{{ asset('assets/frontend/images/courses/courses-intro.png') }}">
    <div class="inner">
        <h1>{{ education.translation(locale).title }}</h1>
    </div>
</div>