<div class="learn">
    <h2>{{ 'course_calendar.course_details.learn'|trans }}</h2>
{#    {{ education.translation(locale).shortDescription|raw }}#}

    <ul>
        {{ education.translation(locale).additionalInfo|raw }}
    </ul>
</div>
