{% for label, messages in app.flashes %}
    {% for message in messages %}
        <!--begin::Alert-->
        <div class="alert alert-{{ label }} bg-{{ label }} d-flex align-items-center flex-sm-row p-5 mb-10">
            <!--begin::Icon-->
            <i class="ki-duotone ki-message-text-2 fs-2hx text-light me-4 mb-5 mb-sm-0">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
            </i>
            <!--end::Icon-->

            <!--begin::Wrapper-->
            <div class="d-flex align-items-center text-light pe-0 pe-sm-10">
                <!--begin::Content-->
                <span>
                    {{ message|raw }}
                </span>
                <!--end::Content-->
            </div>
            <!--end::Wrapper-->

            <!--begin::Close-->
            <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                <i class="ki-duotone ki-cross fs-1 text-light">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>
            </button>
            <!--end::Close-->
        </div>
        <!--end::Alert-->
    {% endfor %}
{% endfor %}