<div class="social-media">
    <div class="inner">
        <div class="content">
            {% for widget in section.pageWidgets %}
                {% set translation = widget.translation(locale) %}

                {{ translation.description|raw }}
            {% endfor %}</div>
    </div>
</div>