<div class="courses-list">
    <div class="inner">
        <div class="other-courses">
            <h2>{{ 'courses.recommended_section_title'|trans }}</h2>
            <div class="courses has-loader"></div>
        </div>
        <div class="button-wrapper">
            <a href="#">
                {{ 'courses.recommended_section_load_more'|trans }}
            </a>
        </div>
    </div>
</div>