<div class="modal fade " id="videoModal" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="yt-player">
                <div class="modal-close" data-dismiss="modal" aria-label="Close">
                    <img src="../images/homepage/slider-filter-anchor/modal-close.svg" alt="modal-close">
                </div>

                <p>Clip de prezentare Senior Premium</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src=""
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
