<div class="big-logo">
    {% if widget.fileName %}
        <div class="big-logo__left">
            <img src="{{ asset(app_page_widget_path ~ widget.fileName, 'cloudflare') }}" alt="{{ widget.fileName }}"/>
            {% if translation.description %}
                {{ translation.description|sanitize_html('app.editor') }}
            {% endif %}
        </div>
    {% endif %}
    {% if widget.fileNameMob %}
        <div class="big-logo__right data-image" data-image="{{ asset(app_page_widget_path ~ widget.fileNameMob, 'cloudflare') }}"></div>
    {% endif %}
</div>